{
  "mcpServers": {
    "tn": {
      "type": "local",
      "command": "{{ .chezmoi.homeDir }}/.local/bin/tn-mcp",
      "args": [],
      "tools": ["*"]
    },
    "postgres-blink": {
      "type": "local",
      "command": "docker",
      "tools": ["*"],
      "args": [
        "run",
        "--rm",
        "-i",
        "-e",
        "POSTGRES_HOST",
        "-e",
        "POSTGRES_PORT",
        "-e",
        "POSTGRES_USER",
        "-e",
        "POSTGRES_PASSWORD",
        "-e",
        "POSTGRES_DATABASE",
        "writenotenow/postgres-mcp:latest"
      ],
      "env": {
        "POSTGRES_HOST": "{{ .postgresBlinkHost }}",
        "POSTGRES_PORT": "{{ .postgresBlinkPort }}",
        "POSTGRES_USER": "{{ .postgresBlinkUser }}",
        "POSTGRES_PASSWORD": "{{ .postgresBlinkPassword }}",
        "POSTGRES_DATABASE": "{{ .postgresBlinkDatabase }}"
      }
    },
    "searxng": {
      "type": "local",
      "command": "npx",
      "args": ["-y", "@kevinwatt/mcp-server-searxng"],
      "env": {
        "SEARXNG_INSTANCES": "http://localhost:8080"
      }
    }
  }
}
